:root {
    --clr-teal-100--: #31C3BD;
    --clr-teal-50--: #65E9E4;
    --clr-yellow-100--: #F2B137;
    --clr-yellow-50--: #FFC860;
    --clr-black-100--: #1A2A33;
    --clr-black-50--: #1F3641;
    --clr-white-100--: #A8BFC9;
    --clr-white-50--: #DBE8ED;
    --head-L-size--: 40px;
    --head-L-weight--: 700;

    --head-M-size--: 24px;
    --head-M-weight--: 700;

    --head-S-size--: 20px;
    --head-S-weight--: 700;

    --head-XS-size--: 16px;
    --head-XS-weight--: 700;

    --body-size--: 14px;
    --body-weight--: 500;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    -webkit-user-select: none;
    color: var(--clr-black-100--);
    /* outline: 1px solid var(--clr-yellow-100--); */
}

body {
    background-color: var(--clr-black-100--);
    font-family: 'Outfit', sans-serif;
}

/* Game Menu */

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-content {
    max-width: 460px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

h3 {
    font-size: var(--head-S-size--);
    font-weight: 700;
}

h4 {
    font-size: var(--head-XS-size--);
    font-weight: 700;
}

p {
    font-size: var(--body-size--);
    font-weight: 500;
}

#playermark,
#firstturn,
.restart-content h1 {
    color: var(--clr-white-100--);
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    width: 72px;
    display: block;
}

.player-mark {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--clr-black-50--);
    max-width: 460px;
    width: 90%;
    height: 205px;
    border-radius: 15px;
    color: var(--clr-white-100--);
    box-shadow: 0 8px 0 #10212A;
}

.X-O {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-black-100--);
    max-width: 412px;
    width: 90%;
    height: 72px;
    border-radius: 10px;
}

.X {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 198px;
    width: 100%;
    margin: 0 8px;
    height: 54px;
    background-color: var(--clr-black-100--);
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

.Y {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 198px;
    width: 100%;
    margin: 0 8px;
    height: 54px;
    background-color: var(--clr-white-100--);
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

.newgame {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 28px;
    max-width: 460px;
    width: 90%;
}

.yellow-btn {
    cursor: pointer;
}

.yellow-btn:active {
    background-color: var(--clr-yellow-50--);
}

.teal-btn {
    cursor: pointer;
}

.teal-btn:active {
    background-color: var(--clr-teal-50--);
}

.newgame-cpu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-yellow-100--);
    width: 100%;
    height: 59px;
    border-radius: 15px;
    box-shadow: 0 8px #cc9125;
}

.newgame-player {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-teal-100--);
    width: 100%;
    height: 59px;
    border-radius: 15px;
    box-shadow: 0 8px #18a09b;
}

.X-image img,
.Y-image img {
    width: 32px;
    display: block;
}

/* Game Start */

.game-content {
    max-width: 460px;
    width: 90%;
    display: none;
    flex-direction: column;
    gap: 28px;
    /* display: none; */
}

.turn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 140px;
    height: 52px;
    background-color: var(--clr-black-50--);
    border-radius: 10px;
    margin-right: 20px;
    box-shadow: 0 5px 0 #10212A;
}

.silver-btn {
    cursor: pointer;
}

.silver-btn:active {
    background-color: var(--clr-white-50--);
}

.restartimg img {
    display: block;
    width: 30px;
}

.turn img {
    width: 20px;
    display: block;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-game {
    display: flex;
    justify-content: space-between;
    row-gap: 28px;
    /* column-gap: 20px; */
    flex-wrap: wrap;
}

.box1,
.box2,
.box3,
.box4,
.box5,
.box6,
.box7,
.box8,
.box9 {
    width: 140px;
    height: 140px;
    display: flex;
    background-color: var(--clr-black-50--);
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    /* box-shadow: 0 8px 0 #10212A; */
    cursor: pointer;
    
}

.main-game img {
    display: block;
}

.restart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    background-color: var(--clr-white-100--);
    border-radius: 10px;
    box-shadow: 0 5px 0 #6B8997;
}

.logo2img img {
    display: block;
}

.score {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.X-score,
.O-score,
.ties {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 72px;
    border-radius: 15px;
}

.X-score {
    background-color: var(--clr-teal-100--);
}

.ties {
    background-color: var(--clr-white-100--);
}

.O-score {
    background-color: var(--clr-yellow-100--);
}

.turn h4 {
    color: var(--clr-white-100--);
}

/* Popup menus for match winner and restart game */
.takes-round-parent {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #0000008f;
}

.takes-round,
.restart-window {
    background-color: var(--clr-black-100--);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.takes-content,
.restart-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px;
    gap: 20px;
}

.takes-round h4 {
    color: var(--clr-white-100--);
}

.winner-div {
    display: flex;
    align-items: center;
    gap: 16px;
    color: var(--clr-yellow-100--);
    font-size: var(--head-M-size--);
}

.winner-div img {
    width: 64px;
    height: 64px;
    display: block;
}

.takes-btn,
.restart-btn {
    display: flex;
    gap: 16px;
}

.quit-btn,
.next-round-btn,
.cancel-restart-btn,
.approve-restart-btn {
    border: none;
    outline: none;
    font-weight: var(--head-XS-weight--);
    padding: 16px;
    border-radius: 10px;
    font-size: var(--head-XS-size--);
    cursor: pointer;
}

.quit-btn,
.cancel-restart-btn {
    background-color: var(--clr-white-100--);
    box-shadow: 0 5px 0 #6B8997;
}

.next-round-btn,
.approve-restart-btn {
    background-color: var(--clr-yellow-100--);
    box-shadow: 0 5px 0 #cc9125;
}

.restart-window-parent {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #0000008f;
}

.restart-content {
    color: var(--clr-white-100--);
    letter-spacing: 2px;
    font-size: var(--head-S-size--);
}

.tie-window-parent {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #0000008f;
}

.red{
    background-color: #c75a5a;
    box-shadow: 0 5px 0 #96393c;
}

.red:active {
    background-color: #e07e7e;
}

@media screen and (width <=500px) {
    
    h1{
        font-size: 24px;
    }
    h3 {
        font-size: 16px;
    }

    h4{
        font-size: 14px;
    }

    .box1,
    .box2,
    .box3,
    .box4,
    .box5,
    .box6,
    .box7,
    .box8,
    .box9 {
        width: 130px;
        height: 130px;
    }
    .X-score, .O-score, .ties {
        width: 120px;
        height: 64px;
    }
    .winner-div img{
        width: 30px;
        height: 30px;
    }
    .takes-content, .restart-content{
        padding: 24px;
    }

    .main-game {
        row-gap: 16px;
    }
}

@media screen and (width <=444px) {
    .box1,
    .box2,
    .box3,
    .box4,
    .box5,
    .box6,
    .box7,
    .box8,
    .box9 {
        width: 120px;
        height: 120px;
    }
}

@media screen and (width <=420px) {
    .box1,
    .box2,
    .box3,
    .box4,
    .box5,
    .box6,
    .box7,
    .box8,
    .box9 {
        width: 110px;
        height: 110px;
    }
    .turn {
        width: 110px;
        height: 45px;
    }
    .restart {
        width: 45px;
        height: 45px;
    }
    .X-score, .O-score, .ties {
        width: 110px;
        height: 64px;
    }
}

@media screen and (width <=380px) {
    .box1,
    .box2,
    .box3,
    .box4,
    .box5,
    .box6,
    .box7,
    .box8,
    .box9 {
        width: 100px;
        height: 100px;
    }
    .turn {
        width: 96px;
        height: 40px;
    }
    .restart {
        width: 40px;
        height: 40px;
    }
    .X-score, .O-score, .ties {
        width: 96px;
        height: 64px;
    }
    .restartimg img {
        width: 24px;
    }
}

@media screen and (width <=350px) {
    .box1,
    .box2,
    .box3,
    .box4,
    .box5,
    .box6,
    .box7,
    .box8,
    .box9 {
        width: 90px;
        height: 90px;
    }
    .turn {
        width: 86px;
        height: 32px;
    }
    .restart {
        width: 32px;
        height: 32px;
    }
    .X-score, .O-score, .ties {
        width: 80px;
        height: 64px;
    }
    .restartimg img {
        width: 20px;
    }
}

@media screen and (width <=320px) {
    .box1,
    .box2,
    .box3,
    .box4,
    .box5,
    .box6,
    .box7,
    .box8,
    .box9 {
        width: 80px;
        height: 80px;
    }
}